<div class="imgpost-section">

  <%# ヘッダー部分 %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:3000/imgposts"><h1 class="header-title">GeekInstagram</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3000/imgposts">ホーム <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <%= link_to "マイページ", user_path(current_user.id) , class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= button_to 'ログアウト', destroy_user_session_path, method: :delete , class: 'nav-link btn btn-light' %>
        </li>
      </ul>
      <%= form_tag({controller: "imgposts", action: "index"}, method: :get , class: 'form-inline my-2 my-lg-0' ) do %>
        <%= text_field_tag :search , nil , class: 'form-control mr-sm-2' %>
        <%= submit_tag '検索する' , class: 'btn btn-outline-success my-2 my-sm-0'  %>
      <% end %>
    </div>
  </nav>

  <br>

  <h3 class="imgpost-title">投稿一覧</h3>

  <p class="text-center"><%= link_to "新規投稿ページへ", new_imgpost_path, class: 'btn btn-primary' %></p>


  <div class="container-fluid">
    <div class="row">
      <% @imgposts.each do |t| %>
        <div class="text-center col-md-6">
          <div class="card mx-auto mb-5" style="width: 18rem;">
            <%# 画像部分 %>
            <%= image_tag t.image_url, class: "card-img-top imgpost-image" if t.image? %>
            <div class="card-body">
              <%# タイトル部分 %>
              <h5 class="card-title"><%= t.title %></h5>

              <%# 投稿内容部分 %>
              <p class="card-text"><%= t.body %></p>

              <%# いいね部分 %>
              <% if user_signed_in? %>
                <% if current_user.already_liked?(t) %>
                  <%= link_to imgpost_like_path(id: t.id, imgpost_id: t.id), method: :delete do %>
                  <i class="far fa-heart"></i><%= t.likes.count %>
                  <% end %>
                <% else %>
                  <%= link_to imgpost_likes_path(id: t.id, imgpost_id: t.id), method: :post do %>
                  <i class="far fa-heart"></i><%= t.likes.count %>
                  <% end %>
                <% end %>
              <% else %>
                <i class="far fa-heart"></i><%= t.likes.count %>
              <% end %>
              <br>
              <p class="card-text"><%= link_to "詳細へ", imgpost_path(t.id) , class: "btn btn-link" %></p>
              <p class="card-text"><%= link_to "編集する", edit_imgpost_path(t.id), class: "btn btn-primary" %></p>
              <p class="card-text"><%= button_to "削除する", imgpost_path(t.id), method: :delete , class: "btn btn-info" %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>