<h1>GeekInstagram</h1>
<h3>投稿一覧</h3>

<h3>投稿を検索</h3>
<%= form_tag({controller: "imgposts", action: "index"}, method: :get ) do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索する'  %>
<% end %>

<%= link_to "新規投稿ページへ", imgposts_new_path %>

<div class="imgposts-container">
  <% @imgposts.each do |t| %>
    <div class="imgpost">
      <%= image_tag t.image_url, size: "250x250" if t.image? %>
      <%= t.title %>
      <%= t.body %>
      <%= t.created_at %>
      <%= link_to "詳細へ", imgpost_path(t.id) %>
      <%= link_to "編集する", edit_imgpost_path(t.id) %>
      <%= button_to "削除する", imgpost_path(t.id), method: :delete %>
    </div>
  <% end %>
</div>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>