<h1>GeekInstagram</h1>
<h3>新規投稿</h3>
<%= form_for @imgpost do |f| %>
  <%# タイトル %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 100 %>
  </div>

   <%# 内容 %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body, :size => 140 %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>
<%= link_to "トップへ戻る", imgposts_path %>
  