<div class="signup-section">
  <div class="signup-title">
    <p class="signup-title-icon"><i class="fas fa-sign-in-alt"></i></p>
    <h2 class="signup-title-text">アカウント作成</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name, :placeholder => "アカウント名", autofocus: true , class: 'text-form' %>
    </div>

    <div class="field">
      <%= f.label :"プロフィール画像" %><br />
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <%= f.email_field :email, :placeholder => "メールアドレス", autofocus: true, autocomplete: "email" , class: 'text-form' %>
    </div>

    <div class="field">
      <%= f.password_field :password, :placeholder => "パスワード(6字以上)", autocomplete: "new-password" , class: 'text-form'  %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, :placeholder => "パスワード(確認用)" , autocomplete: "new-password" , class: 'text-form' %>
    </div>

    <div class="actions">
      <%= f.submit "登録" , class: 'submit-btn' %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>

</div>
